Samples/pipeline/adf_arrays_sample_pl.json
{
	"name": "adf_arrays_sample_pl",
	"properties": {
		"activities": [
			{
				"name": "Lookup Notes",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSetting"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSetting"
						}
					},
					"dataset": {
						"referenceName": "BLOB_MusicNotes",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set_Notes_Syllabic",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Notes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "Notes_Syllabic",
					"value": {
						"value": "@activity('Lookup Notes').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Notes_Syllabic": {
				"type": "Array"
			},
			"Notes_Alphabet": {
				"type": "Array"
			},
			"Notes_Alphabet_String": {
				"type": "String",
				"defaultValue": "C-D-E-F-G-A-B"
			}
		},
		"folder": {
			"name": "Sample Pipelines"
		}
	}
}