Samples/pipeline/bdata_adf_variable_array_many_elements.json
{
	"name": "bdata_adf_variable_array_many_elements",
	"properties": {
		"activities": [
			{
				"name": "Set FileList",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "ArrayVariable",
					"value": {
						"value": "@createArray('A', 'B')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "First Element",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set FileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "ArrayElement_1",
					"value": {
						"value": "@variables('ArrayVariable')[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Second Element",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set FileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "ArrayElement_1",
					"value": {
						"value": "@variables('ArrayVariable')[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check Out of Range",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set FileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "ArrayElement_OutOfRange",
					"value": {
						"value": "@variables('ArrayVariable')[2]",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ArrayVariable": {
				"type": "Array"
			},
			"ArrayElement_1": {
				"type": "String"
			},
			"ArrayElement_2": {
				"type": "String"
			},
			"ArrayElement_OutOfRange": {
				"type": "String"
			},
			"ErrorMessage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sample Pipelines"
		}
	}
}