Samples/pipeline/CopyFiles_Message_ServiceBus.json
{
	"name": "CopyFiles_Message_ServiceBus",
	"properties": {
		"activities": [
			{
				"name": "List of files",
				"description": "Scan the file path on your source storage store and get the container list.",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "Template_wasb_source_ds",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@pipeline().parameters.SourceFilePath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "ForEachContainer",
				"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List of files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('List of files').output.childItems",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "CopyOneContainer",
							"description": "Copy each container from source storage store to destination store.",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)"
								},
								{
									"name": "Destination",
									"value": "@concat(pipeline().parameters.DestinationFilePath,'/',item().name)"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "BlobSink",
									"copyBehavior": "PreserveHierarchy"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "Template_wasb_single_source_ds",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@pipeline().parameters.SourceFilePath",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Template_wasb_single_sink_ds",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@pipeline().parameters.DestinationFilePath",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Message ID",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CopyOneContainer",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "MessageID",
								"value": {
									"value": "@concat(utcnow(),'_',pipeline().RunId)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Queue Message",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Message ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "Message",
								"value": {
									"value": "@concat('{\"MessageID\":\"', variables('MessageID'), '\",\"FileName\":\"', item().name, '\",\"FileSize\":\"', activity('CopyOneContainer').output.dataWritten,'\"}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Send Queue Message",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Queue Message",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"url": "https://prod-14.eastus2.logic.azure.com:443/workflows/6a0dc1f33be54f2b8f75ca9c835344b8/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=GkGC-3VSmcQEN6CC4yF8blYGg6mqO-URjSCBb0Ig38c",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"Message": "@variables('Message')",
									"SessionID": "@pipeline().RunId"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFilePath": {
				"type": "String",
				"defaultValue": "/storesalesfiles"
			},
			"DestinationFilePath": {
				"type": "String",
				"defaultValue": "/storesalesfiles-staging"
			}
		},
		"variables": {
			"MessageID": {
				"type": "String"
			},
			"Message": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Copy Activity"
		}
	}
}