Samples/pipeline/CopyFilesfromMultipleContainers.json
{
	"name": "CopyFilesfromMultipleContainers",
	"properties": {
		"description": "Copy all files across multiple containers or buckets from one file-based storage store to another",
		"activities": [
			{
				"name": "EnumerateContainersList",
				"description": "Scan the file path on your source storage store and get the container list.",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlobStorageSourceFileStore",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@pipeline().parameters.SourceFilePath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "ForEachContainer",
				"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "EnumerateContainersList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('EnumerateContainersList').output.childItems",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "CopyOneContainer",
							"description": "Copy each container from source storage store to destination store.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)"
								},
								{
									"name": "Destination",
									"value": "@concat(pipeline().parameters.DestinationFilePath,'/',item().name)"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": false
								},
								"sink": {
									"type": "AzureDataLakeStoreSink",
									"copyBehavior": "PreserveHierarchy"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "AzureBlobStorageSourceFileStore",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@concat(pipeline().parameters.SourceFilePath)",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDataLakeStoreSinkFileStore2",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@concat(pipeline().parameters.DestinationFilePath)",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFilePath": {
				"type": "String",
				"defaultValue": "/nyctaxidata-raw"
			},
			"DestinationFilePath": {
				"type": "String",
				"defaultValue": "/nyctaxidata-staging"
			}
		},
		"annotations": []
	}
}