Samples/pipeline/Copy Files with Service Bus.json
{
	"name": "Copy Files with Service Bus",
	"properties": {
		"description": "Copy all files across multiple containers or buckets from one file-based storage store to another and Email Notification",
		"activities": [
			{
				"name": "EnumerateContainersList",
				"description": "Scan the file path on your source storage store and get the container list.",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlobStorageSourceFileStore",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@pipeline().parameters.SourceFilePath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "ForEachContainer",
				"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "EnumerateContainersList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('EnumerateContainersList').output.childItems",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "CopyOneContainer",
							"description": "Copy each container from source storage store to destination store.",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)"
								},
								{
									"name": "Destination",
									"value": "@concat(pipeline().parameters.DestinationFilePath,'/',item().name)"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "BlobSink",
									"copyBehavior": "PreserveHierarchy"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "Single_AzureBlobStorageSourceFileStore",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@pipeline().parameters.SourceFilePath",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Single_AzureBlobStorageSinkFileStore",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@pipeline().parameters.DestinationFilePath",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Message ID",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CopyOneContainer",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "MessageID",
								"value": {
									"value": "@concat(utcnow(),'_',pipeline().RunId)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Queue Message",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Message ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"typeProperties": {
								"variableName": "Message",
								"value": {
									"value": "@concat('{\"MessageID\":\"', variables('MessageID'), '\",\"FileName\":\"', item().name, '\",\"FileSize\":\"', activity('CopyOneContainer').output.dataWritten,'\"}')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFilePath": {
				"type": "String",
				"defaultValue": "/storesalesfiles"
			},
			"DestinationFilePath": {
				"type": "String",
				"defaultValue": "/storesalesfiles-staging"
			}
		},
		"variables": {
			"MessageID": {
				"type": "String"
			},
			"Message": {
				"type": "String"
			}
		}
	}
}