Samples/pipeline/pl_durable_function.json
{
	"name": "pl_durable_function",
	"properties": {
		"activities": [
			{
				"name": "Azure Durable Function call",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "orchestrators/DurableFunctions-Orchestrator",
					"method": "POST",
					"body": {
						"timezone": "Dateline Standard Time"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_af",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Check Completed Status",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Azure Durable Function call",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(or(equals(activity('Get Current Function Status').output.runtimeStatus, 'Pending'), equals(activity('Get Current Function Status').output.runtimeStatus, 'Running')))\n\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait 5 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "Get Current Function Status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait 5 seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('Azure Durable Function call').output.statusQueryGetUri\n",
									"type": "Expression"
								},
								"method": "GET"
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"folder": {
			"name": "Azure Functions"
		},
		"annotations": []
	}
}