Samples/pipeline/Workflow_IF_activity_pl.json
{
	"name": "Workflow_IF_activity_pl",
	"properties": {
		"description": "Conditional File processing",
		"activities": [
			{
				"name": "Get File Names",
				"description": "Scan the file path on your source storage store and get the container list.",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Template_wasb_source_ds",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@pipeline().parameters.SourceFilePath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "Move Files",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.FileAction,'move')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Files",
							"description": "Copy each container from source storage store to destination store.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)"
								},
								{
									"name": "Destination",
									"value": "@concat(pipeline().parameters.DestinationFilePath,'/',item().name)"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "BlobSink",
									"copyBehavior": "PreserveHierarchy"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "Template_wasb_source_ds",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Template_wasb_sink_ds",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@pipeline().parameters.DestinationFilePath",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Files",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Template_wasb_delete",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage_LS",
										"type": "LinkedServiceReference"
									},
									"path": "logging"
								},
								"enableLogging": true,
								"recursive": true
							}
						}
					]
				}
			},
			{
				"name": "Copy Files",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.FileAction,'copy')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Each File",
							"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
							"type": "ForEach",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Get File Names').output.childItems",
									"type": "Expression"
								},
								"batchCount": 4,
								"activities": [
									{
										"name": "CopyOneContainer",
										"description": "Copy each container from source storage store to destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)"
											},
											{
												"name": "Destination",
												"value": "@concat(pipeline().parameters.DestinationFilePath,'/',item().name)"
											}
										],
										"typeProperties": {
											"source": {
												"type": "BlobSource",
												"recursive": true
											},
											"sink": {
												"type": "BlobSink",
												"copyBehavior": "PreserveHierarchy"
											},
											"enableStaging": false,
											"dataIntegrationUnits": 0
										},
										"inputs": [
											{
												"referenceName": "Template_wasb_source_ds",
												"type": "DatasetReference",
												"parameters": {
													"folder": {
														"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Template_wasb_sink_ds",
												"type": "DatasetReference",
												"parameters": {
													"folder": {
														"value": "@concat(pipeline().parameters.DestinationFilePath,'/',item().name)",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Delete Files",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.FileAction,'delete')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete Each File",
							"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
							"type": "ForEach",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Get File Names').output.childItems",
									"type": "Expression"
								},
								"batchCount": 4,
								"activities": [
									{
										"name": "DeleteFiles",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Template_wasb_delete",
												"type": "DatasetReference",
												"parameters": {
													"folder": {
														"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)",
														"type": "Expression"
													}
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "AzureBlobStorage_LS",
													"type": "LinkedServiceReference"
												},
												"path": "logging"
											},
											"enableLogging": true,
											"recursive": true
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFilePath": {
				"type": "String",
				"defaultValue": "/storesales"
			},
			"DestinationFilePath": {
				"type": "String",
				"defaultValue": "/storesales-staging"
			},
			"FileAction": {
				"type": "string",
				"defaultValue": "copy"
			}
		},
		"variables": {
			"FileAction": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Switch Activity"
		},
		"annotations": []
	}
}